---
# This main.scss file needs front matter
---
@charset "utf-8";

@import
        'normalize',
        'variables',
        'colors',
        'mixins',
        'utilities',
        'components/contact-list',
        'components/github-fork-me-ribbon',
        'components/header',
        'components/icon-responsive',
        'components/image',
        'components/important-text',
        'components/intro',
        'components/link',
        'components/project-header',
        'components/project-image',
        'components/project-meta',
        'components/project-single',
        'components/projects-list',
        'components/wrapper'
;
