---
layout: default
title: Projects
---

<h1 class='u-hide-visually'>
  Projects
</h1>

<ul class='project-list'>
  {% for project in site.categories.projects %}
    <li class='project-list-item'>

      <h3 class='project-heading'>
        <a href="{{ project.url | prepend: site.baseurl }}" class='link'>
          {{ project.title }}
        </a>
      </h3>

      <div class='project-list-item-image-container'>

        {% if project.main-image-path %}

          <a class='project-image' href="{{ project.url | prepend: site.baseurl }}">

            <img class='image' src="{{ project.main-image-path | prepend: site.baseurl }}" alt="Featured Image for {{ project.title }}">

          </a>

        {% else %}

          <a class='project-image' href="{{ project.url | prepend: site.baseurl }}">

            {% include icons/image_placeholder.html %}

          </a>

        {% endif %}

      </div>

      <div class='project-meta-item'>

        <div class='project-meta-item-icon'>
          {% include icons/tag_icon.svg %}
        </div>

        <ul class='project-meta-item-content'>

          {% for tag in project.tags %}

            <li class='project-tag'>{{ tag }}</li>

          {% endfor %}
          
        </ul>

      </div>

    </li>
  {% endfor %}
</ul>
