---
layout: default
title: Projects
---

<h1 class='u-hide-visually'>
  Projects
</h1>

<ul class='projects-list'>
  {% for project in site.categories.projects %}
    <li class='projects-list-item'>

      <div class='project mod-list-page'>

        <h3 class='project-heading'>
          <a href="{{ project.url | prepend: site.baseurl }}" class='link'>
            {{ project.title }}
          </a>
        </h3>

        <a class='project-image' href="{{ project.url | prepend: site.baseurl }}">

          {% if project.main-image-path %}

            <img class='image' src="{{ project.main-image-path | prepend: site.baseurl }}" alt="Featured Image for {{ project.title }}">

          {% else %}

            {% include icons/image_placeholder.html %}

          {% endif %}

        </a>

        <ul class='project-tags'>

          <li class='project-tags-icon'>
            {% include icons/tag_icon.svg %}
          </li>

          {% for tag in project.tags %}

            <li class='project-tags-item'>
              {{ tag }}
            </li>

          {% endfor %}
        </ul>

      </div>

    </li>
  {% endfor %}
</ul>
