---
layout: default
---

<main class="home">

  <h1 class="page-heading">{{ site.title }}</h1>

  <h2 class="page-heading">Projects</h2>

  <ul class="post-list">
    {% for project in site.categories.projects %}
      <li>

        <h3>
          <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
            {{ project.title }}
          </a>
        </h3>

        <span class="post-meta">
          {{ project.date | date: "%b %-d, %Y" }}
        </span>

        {% if project.main-image-path %}
          <img src="{{ project.main-image-path | prepend: site.baseurl }}" alt="Featured Image for {{ project.title }}">
        {% endif %}

      </li>
    {% endfor %}
  </ul>

</main>
