---
layout: default
---

<main>

  <h1>{{ site.title }}</h1>

  <h2>Projects</h2>

  <ul>
    {% for project in site.categories.projects %}
      <li>

        <h3>
          <a href="{{ project.url | prepend: site.baseurl }}">
            {{ project.title }}
          </a>
        </h3>

        {% if project.main-image-path %}
          <img class='project-image' src="{{ project.main-image-path | prepend: site.baseurl }}" alt="Featured Image for {{ project.title }}">
        {% endif %}

        <span>
          {{ project.date | date: "%b %-d, %Y" }}
        </span>

      </li>
    {% endfor %}
  </ul>

</main>
