---
layout: default
title: Contact
---

<h1 class='u-hide-visually'>
  Contact
</h1>

<ul class='contact-list'>

  <li class='contact-list-item'>

    <a href="http://www.google.com/recaptcha/mailhide/d?k=018CuaWnTFBB6frcYDLBdu1g==&amp;c=csRWEc04ir85gRtAHjO9TbGWJL3-5_V54l-mT95gxC0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075018CuaWnTFBB6frcYDLBdu1g\75\75\46c\75csRWEc04ir85gRtAHjO9TbGWJL3-5_V54l-mT95gxC0\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title='Email' class='contact-list-item-link'>

      {% include icons/email_icon.svg %}

    </a>

  </li>

  <li class='contact-list-item'>

    <a href='https://github.com/nwshane' class='contact-list-item-link' title='Github'>

      {% include icons/github_logo.html %}

    </a>

  </li>

  <li class='contact-list-item'>

    <a href='https://www.linkedin.com/in/nathan-shane-5834a534' class='contact-list-item-link' title='LinkedIn'>

      {% include icons/linkedin_logo.svg %}

    </a>

  </li>

</ul>
