<header class='header'>

  <nav class='header-nav'>

    <ul class='header-nav-list'>

      <li class='header-nav-list-item'>
        <a href='{{ "/" | prepend: site.baseurl }}' class='link'>
          Home
        </a>
      </li>

      <li class='header-nav-list-item'>
        <a href='{{ "/projects" | prepend: site.baseurl }}' class='link'>
          Projects
        </a>
      </li>

      <li class='header-nav-list-item'>
        <a href='{{ "/contact" | prepend: site.baseurl }}' class='link'>
          Contact
        </a>
      </li>

    </ul>

  </nav>

</header>
