<header class='header'>

  <nav class='header-nav'>

    <ul class='header-nav-list'>

      <li class='header-nav-list-item'>
        <a href='{{ "#home" | prepend: site.baseurl }}' class='header-nav-list-item-link'>
          Home
        </a>
      </li>

      <li class='header-nav-list-item'>
        <a href='{{ "#projects" | prepend: site.baseurl }}' class='header-nav-list-item-link'>
          Projects
        </a>
      </li>

      <li class='header-nav-list-item'>
        <a href='{{ "#contact" | prepend: site.baseurl }}' class='header-nav-list-item-link'>
          Contact
        </a>
      </li>

    </ul>

  </nav>

</header>
