@mixin m-limit-content-width {
  margin: 0 auto;

  @media (min-width: 850px) {
    max-width: 650px;
  }

  @media (min-width: 1025px) {
    max-width: 825px;
  }

  @media (min-width: 1200px) {
    max-width: 1000px;
  }
}

@mixin m-content-side-padding {
  padding-left: $content-side-padding;
  padding-right: $content-side-padding;
}
