@mixin m-limit-content-width {
  max-width: $max-content-width;
  margin: 0 auto;

  @media (min-width: 650px) and (max-width: 800px) {
    max-width: 650px;
  }
}

@mixin m-content-side-padding {
  padding-left: $content-side-padding;
  padding-right: $content-side-padding;
}
