@mixin m-limit-content-width {
  margin: 0 auto;

  @media (min-width: 650px) {
    max-width: 650px;
  }

  @media (min-width: 1050px) {
    max-width: 820px;
  }
}

@mixin m-content-side-padding {
  padding-left: $content-side-padding;
  padding-right: $content-side-padding;
}
