$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-line-height: 1.5;

$text-color:       #111;
$background-color: #FFFFFF;
$brand-color:      #2a7ae2;

$header-height: 5rem;
