$primary-font-family: 'Lato', Arial, sans-serif;
$secondary-font-family: 'Patua One', sans-serif;
$tertiary-font-family: 'Indie Flower', cursive;
$base-font-size:   16px;
$base-line-height: 1.5;

$header-height: 3rem;
$content-side-padding: 1.4rem;

$width-show-github-fork-me-banner: 1300px;

$baseurl: '';
