$contact-list-item-height-small: 100px;
$contact-list-item-height-middle: 125px;
$contact-list-item-height-big: 175px;

$contact-list-width-become-middle: 450px;
$contact-list-width-become-big: 700px;

$contact-list-item-hover-increase-factor: 1.5;

.contact-list {
  padding: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 550px) {
    flex-flow: row;
    align-content: center;
  }
}

  .contact-list-item {
    list-style-type: none;

    width: $contact-list-item-height-small;
    height: $contact-list-item-height-small;

    @media (min-width: $contact-list-width-become-middle) {
      width: $contact-list-item-height-middle;
      height: $contact-list-item-height-middle;
    }

    @media (min-width: $contact-list-width-become-big) {
      width: $contact-list-item-height-big;
      height: $contact-list-item-height-big;
    }
  }

  .contact-list-item:hover {
    width: $contact-list-item-height-small * $contact-list-item-hover-increase-factor;
    height: $contact-list-item-height-small * $contact-list-item-hover-increase-factor;

    @media (min-width: $contact-list-width-become-middle) {
      width: $contact-list-item-height-middle * $contact-list-item-hover-increase-factor;
      height: $contact-list-item-height-middle * $contact-list-item-hover-increase-factor;
    }

    @media (min-width: $contact-list-width-become-big) {
      width: $contact-list-item-height-big * $contact-list-item-hover-increase-factor;
      height: $contact-list-item-height-big * $contact-list-item-hover-increase-factor;
    }
  }

    .contact-list-item-link {
      display: block;
      width: inherit;
      height: inherit;
    }
