.contact-list {
  padding: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 600px) {
    flex-flow: row wrap;
    align-content: center;
  }
}

  .contact-list-item {
    list-style-type: none;
    width: 100px;
    height: 100px;
    margin: 10px 40px;

    @media (min-width: 450px) {
      width: 125px;
      height: 125px;
    }

    @media (min-width: 600px) {
      width: 200px;
      height: 200px;
    }
  }

    .contact-list-item-link {
      display: block;
      width: inherit;
      height: inherit;
    }
