.header {
  z-index: 99;
  height: inherit;

  @include m-content-side-padding();
  @include m-limit-content-width();
}

  .header-nav {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

    .header-nav-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      padding: 0;
      height: inherit;

      @media (min-width: 500px) {
        width: 70%;
        font-size: 1.2em;
      }

      @media (min-width: 600px) {
        width: 60%;
        font-size: 1.4em;
      }

      @media (min-width: 1050px) {
        padding-right: 50px;
      }
    }

      .header-nav-list-item {
        list-style-type: none;
        font-weight: bold;
      }
