.header {
  z-index: 99;
  height: inherit;

  @include m-content-side-padding();
}

  .header-nav {
    height: inherit;

    @include m-limit-content-width();
  }

    .header-nav-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      padding: 0;
      height: inherit;
    }

      .header-nav-list-item {
        list-style-type: none;
        margin: 0 0.6rem;

        @media (min-width: 600px) {
          font-size: 1.1em;
          margin: 0 1.5rem;
        }

      }

        .header-nav-list-item-link {
          color: $primary-color;
          text-decoration: none;
        }

        .header-nav-list-item-link:hover {
          color: purple;
        }
