.intro {
  height: 80vh;
  margin-top: 5%;
  display: flex;
  box-sizing: border-box;
}

  .intro-text {
    font-size: 1.2rem;
    margin: auto 0;
    padding-top: 3rem;

    @media (min-width: 500px) {
      font-size: 1.6rem;
    }

    @media (min-width: 650px) {
      font-size: 2.1rem;
    }
  }

    .intro-text-heading {
      margin: 0;
      margin-bottom: 7rem;
      line-height: 1.35em;
      text-align: left;
      font-size: 2.5em;
      font-family: $secondary-font-family;
    }

    .intro-text-line {
      margin: 0;
      line-height: 1.35em;
      text-align: left;
      margin-top: 1em;
      font-family: $primary-font-family;
    }
