.intro {
  height: 100vh;
  margin-top: -1*$header-height;
  display: flex;
  box-sizing: border-box;
}

  .intro-text {
    margin: auto 0;
    max-width: 40rem;
    padding-top: 5rem;
  }

    .intro-text-line {
      margin: 1em 0;
      font-size: 1.8rem;
      line-height: 1.35em;
      text-align: left;
    }

    .intro-text-line:nth-child(1) {
      font-family: 'Lato', sans-serif;
    }

    .intro-text-line:nth-child(2) {
      font-family: 'Indie Flower', cursive;
    }

    .intro-text-line:last-child {
      font-family: 'Neuton', serif;
    }
