.intro {
  height: 100vh;
  margin-top: -1*$header-height;
  display: flex;
  box-sizing: border-box;
}

  .intro-text {
    margin: auto 0;
    padding-top: 3rem;
  }

    .intro-text-line {
      margin: 1em 0;
      font-size: 1.8rem;
      line-height: 1.35em;
      text-align: left;

      @media (min-width: 500px) {
        font-size: 2.5rem;
      }

      @media (min-width: 650px) {
        font-size: 3.2rem;
      }
    }

    .intro-text-line:nth-child(1) {
      font-family: 'Patua One', cursive;
    }

    .intro-text-line:nth-child(2) {
      font-family: 'Indie Flower', cursive;
    }

    .intro-text-line:last-child {
      font-family: 'Indie Flower', cursive;
    }
