.projects-list {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

  .projects-list-item {
    padding: 0.5rem;
    list-style-type: none;
    width: 100%;

    @media (min-width: 700px) {
      width: 300px;
    }
  }

    .projects-list-item-heading {
    }

      .projects-list-item-heading-link {
        color: $primary-color;
        text-decoration: none;
        font-size: 1.8rem;
      }

    .projects-list-item-image {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      border: 1px rgba(black, .3);
      border-style: dotted;
      height: 183px;

      @media (min-width: 400px) {
        height: 240px;
      }

      @media (min-width: 550px) {
        height: 330px;
      }

      @media (min-width: 700px) {
        height: 183px;
      }
    }
