.projects-list {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

  .projects-list-item {
    padding: 0.5rem;
    list-style-type: none;
    width: 100%;

    @media (min-width: 350px) {
      max-width: 300px;
    }
  }

    .projects-list-item-heading {
    }

      .projects-list-item-heading-link {
        color: $primary-color;
        text-decoration: none;

      }

    .projects-list-item-image {
      display: flex;
      width: 100%;
      border: 1px rgba(black, .3);
      border-style: dotted;
      height: 183px;
      box-sizing: border-box;
    }
