.projects-list {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media (min-width: 600px) {
    margin-top: 1rem;
  }
}

  .projects-list-item {
    box-sizing: border-box;
    padding: 0.5rem;
    list-style-type: none;
    width: 100%;

    @media (min-width: 700px) {
      width: 50%;
    }
  }
