$width-project-intro-become-horizontal: 1050px;

.project-single {
  margin-top: 1rem;
  font-size: 1.3rem;

  @media (min-width: 750px) {
    margin-top: 2rem;
  }

  @media (min-width: 1050px) {
    margin-top: 3rem;
  }
}

  .project-single-intro {
    display: flex;
    flex-direction: column;

    @media (min-width: $width-project-intro-become-horizontal) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

    .project-single-intro-header {
      flex: 1;
      position: relative;
      width: 100%;

      @media (min-width: 800px) {
        font-size: 1.2em;
      }
    }

    .project-single-intro-image {
      flex: 2;

      @media (min-width: $width-project-intro-become-horizontal) {
        margin-right: 2em;
      }
    }

  .project-single-body {
    margin-top: 3rem;
  }
