.project-list {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media (min-width: 600px) {
    margin-top: 1rem;
  }
}

  .project-list-item {
    font-size: 1.1rem;
    box-sizing: border-box;
    padding: 0.5rem;
    list-style-type: none;
    width: 100%;
    margin-top: 1em;

    @media (min-width: 700px) {
      margin-top: 0;
      width: 50%;
    }
  }

  .project-list-item:first-child {
    margin-top: 0;
  }

    .project-list-item-image-container {
      margin-top: 0.8rem;
      display: flex;
      height: 183px;

      @media (min-width: 400px) {
        height: 240px;
      }

      @media (min-width: 550px) {
        height: 330px;
      }

      @media (min-width: 700px) {
        height: 183px;
      }

      @media (min-width: 1050px) {
        height: 275px;
      }
    }
