.project-meta {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 0.8em;
  padding: 0;

  @media (min-width: $width-project-intro-become-horizontal) {
    margin-top: 2em;
  }
}

  .project-meta-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
  }

  .project-meta-item:not(:last-child) {
  }

  .project-meta-item.mod-github {
    @media (min-width: $width-show-github-fork-me-banner) {
      display: none;
    }
  }

    .project-meta-item-icon {
      color: $secondary-color;
      fill: currentColor;
      width: 0.9em;
      display: inline;
    }

    .project-meta-item-content {
      display: inline;
      padding: 0;
      margin: 0;
    }
