.wrapper {
    font-family: $primary-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

  .wrapper-fixed-top {
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100%;
    z-index: 10;
    background: inherit;
  }

  .wrapper-bumped-down {
    padding-top: $header-height;
    padding-bottom: 1rem;
    z-index: 5;

    @include m-content-side-padding();
    @include m-limit-content-width();
  }
